.mainerDiv {
    background-color: dimgrey;
}

.mainBrowseDiv {
    font-family: sans-serif;
    

}

.browse-buttons {
    display: flex;
    position: relative;
     /* bottom: 30%;  */
    left: 10%;
    background: gray;
    color: white;
    height: 50px;
    width: 100px;
    opacity: .8;
    border-radius: 5px;
    font-weight: normal;
    font-size: 17px;
    z-index: 1;
    font-family: sans-serif;

}

.browse-buttons-2 {
    display: flex;
    position: relative; 
    /* bottom: 30%;  */
    left: 30%;
    background: gray;
    color: white;
    height: 50px;
    width: 100px;
    opacity: .8;
    border-radius: 5px;
    font-weight: normal;
    font-size: 17px;
    z-index: 1;
    font-family: sans-serif;

}

.browse-buttons-3 {
    display: flex;
    position: relative; 
    /* bottom: 30%; */
     left: 50%;
    background: gray;
    color: white;
    height: 50px;
    width: 100px;
    opacity: .8;
    border-radius: 5px;
    font-weight: normal;
    font-size: 17px;
    z-index: 1;
    font-family: sans-serif;

}


.buttonPrime {
    width: 50%;
    display: flex; 
    position: relative;
    justify-content: start;
    flex-direction: row;
    bottom: 175px;

}
.mainVideo {
    z-index: -1;
    /* right: 0;
    left:0;
    min-width: 100;
    min-height: 100;
     widows: 100%;
     height: cover;
     width:cover;  */
    /* background: url('images/example.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 */
   position: absolute;
   padding-bottom: 56.25%; /* 16:9 */
	height: 0;
 

}

/* .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */

.browse-buttons:hover {background-color: #ddd;}
.browse-buttons-2:hover {background-color: #ddd;}
.browse-buttons-3:hover {background-color: #ddd;}

.movieRow {
    margin-top: 670px;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    /* z-index: 2; */
    justify-content: space-evenly;
    background-color: dimgrey;

}

.mainerDiv {
    display: flex;

}

.thumbnails {
    z-index: 3;
    padding: 3px;
}

.carcar {
    max-width: 1240px;
    width:  100%;
    height: 125px;
    z-index: 3;
}

/* .slick-next:before {
    color: black !important;
} */

.container {
  display: flex;
  padding: 0 55px;
}

.item {
  background: green;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
}

.container:hover .item {
   transform: translateX(-25%);
}

.item:hover ~ .item {
   transform: translateX(25%);
}

.item:hover {
  transform: scale(1.5) !important;
}

.content {
  margin-top: 40px;
  height: 300px;
  position: relative;
}

.notbackground {
  display: flex;
  height: 100%;
}

.left {
  background: black;
  width: 30%;
  position: relative;
}

.left:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#000,transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.right {
  background: green;
  width: 70%;
}

.content-container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px
}

