.logo {
    width: 139px;
    height: 48px;
    margin-left:20px
}

.logoPrime {
    width: 139px;
    height: 48px;
    margin-left: 0px;
    margin-top: 17px;
}
.logo-arrow {
    width: 37px;
    height: 33px;
    color: white;
    margin-left: 9px;
    opacity: 0.8;
}

.signinNav {
    padding-top: 35px;
    padding-right: 10px;
    font-size: 20px;
    color: black;
    
   
}

 .bottomNav {
     display: flex;
    flex-direction: row;
 
} 


.browseNav {
    display: flex;
    flex-direction: row;
 
  width:30px; 
}

.moviesNav {
    display: flex;
    flex-direction: row;
      width:30px; 
}

.recentlyAddedNav {
    display: flex;
    flex-direction: row;
      width:30px; 
}

.myListNav {
    display: flex;
    flex-direction: row;
     width:30px;
  
    
} 

.mainNav {
    display:flex;
    justify-content: space-between;
    height: 110px;
    background-color: transparent;
     border-bottom: 1px solid lightslategray;
    position: relative;
}

.mainLoginNav {
    display:flex;
    justify-content: space-between;
    opacity: .99;
    height: 110px;
    background-color: transparent;
     /* border-bottom: 1px solid lightslategray; */
    position: relative;
    
}

.signIn {
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: black;
}