.signup-input {
     z-index: 2;
    color: black, !important;

}

.signup-form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* .signup-input:focus {
    /* background-color: red; */
/* } */
/* 
.signup-input:focus label {
    
    transform: translate(-8px);
    transition: transform 0.2s ease 0s, translate 0.2s ease 0s;
} */

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 456px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.stepTitle {
    right: auto;
    left: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.stepTitle {
    /* display: inline-block; */
    /* position: absolute; */
    font-weight: bold;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    padding: 5px;
    height: 15px;
    margin-top: 15px;
}
  


.regFormTitle {
    font-size: 15px;
     padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 15px;   
    margin-top: 15px;
}




.signup-input{
    height: 40px;
    width: 450px;
    border-radius: 5px;
    padding: 8px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-session-submit {
    background: red;
    color: white;
    height: 50px;
    width: 470px;
    padding: 10px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.signup-session-submit-1 {
    background: red;
    color: white;
    height: 80px;
    width: 470px;
    padding: 10px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.signup-input-user {
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
   z-index: 1;
     color: black;
}


.signup-input-password {
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    color: black;
}

.submitDiv {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.submitDivGuest {
    margin-top: 30px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.signInMessage {
    font-family: Arial, Helvetica, sans-serif;
}

.signupErrors {
      font-family: Arial, Helvetica, sans-serif;
      color: red

}

